body {
  background-color: #f1f0eb;
}

h1 { 
  /*color: #f13c20; */
  color: #4056A1;
}

h2 {
  /*color: #f13c20;*/
  /*color: #4056A1;*/
  color: #D79922;
  /*color: #c5cbe3; */
}

.column {
    float: left;
    width: 40.00%;
    padding: 5%;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

 /* The sidebar menu */
 .sidenav {
  height: 95%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  /* z-index: 1; Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #EFE2BA; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.rollbox {
  width:160px;
  height:100px;
  /*background-color:grey;*/
  background-color: #f13c20;
  color:black;
  border:rgb(0, 0, 0);
  padding:5%;
  font:100px/100px sans-serif;
  border-radius: 10px;"
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #D79922;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #4056A1;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

.instructions {
  width: 90%;
  background-color: #EFE2BA; /* Black */
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.sub_instructions {
  width: 90%;
  background: #D79922;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
 .grid-container {
  display: grid;
  gap: 2px 3%;
  grid-template-columns: auto auto auto auto;
}


.grid-item {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  font-size: 16px;
  text-align: center;
}

#complex {
  width:50%;
}

#Board {
  background-image: url('Board_Setup_0.png');
  float:center;
  background-size:100% 100%;
  height: 400px; 
  width: 400px; 
}

#Board:hover {
  background-image: url('Board_Setup_1.png');
}

#stew {
  background-image: url('stew_0.png');
  float:center;
  background-size:100% 100%;
  height: 146px; 
  width: 159px; 
}

#stew:hover {
  background-image: url('stew_1.png');
}

#cam {
  background-image: url('cam_0.png');
  float:center;
  background-size:100% 100%;
  /* min-height: 146px; 
  min-width: 159px; 
  min-height: 146px; 
  min-width: 159px; */
  
  /* width: 100%;  */
  height: 146px; 
  width: 159px; 
}

#cam:hover {
  background-image: url('cam_1.png');
}

#winnie {
  background-image: url('winnie_0.png');
  float:center;
  background-size:100% 100%;
  height: 146px; 
  width: 159px; 
}

#winnie:hover {
  background-image: url('winnie_1.png');
}

#trent {
  background-image: url('trent_0.png');
  float:center;
  background-size:100% 100%;
  height: 146px; 
  width: 159px; 
}

#trent:hover {
  background-image: url('trent_1.png');
}